<div>
  <div>
    <mat-toolbar class="heading-bg d-flex">
      <h1 class="heading">WGS Hiring portal</h1>
      <div class="export-container ">
      </div>
      <div class="input-container ">
        <button class="btn btn-primary" [(ngModel)]="editText" (click)="editCandidate()">Add Candidate</button>
        <button type="text" [(ngModel)]="exportCSVText" (click)="exportCSV()">ExportCSV</button>
        <input type="text" [(ngModel)]="searchText" (ngModelChange)="searchData()" class="type-formcontrol"
          placeholder="search">
      </div>
      <div class="logout-container">
        <button type="text" [(ngModel)]="logoutText" (click)="logout()">Logout</button>

      </div>
    </mat-toolbar>
  </div>

  <router-outlet></router-outlet>

  <div cdkDropListGroup class="d-flex parent_container mt-3">
    <div class="example-container ">
      <h2 class="card-heading">BackLog</h2>

      <div cdkDropList [cdkDropListData]="backlog" class="example-list"
        (cdkDropListDropped)="drop('backlog',$event);testing($event.container.data[0].dasId,'backlog')">

        <div class="example-box" *ngFor="let item of backlog" cdkDrag (click)="buttonText(item)">{{item.candidateName}}
        </div>
      </div>
    </div>

    <div>
      <h2 class="card-heading">Initial Screening</h2>

      <div cdkDropList [cdkDropListData]="initialScreening" class="example-list"
        (cdkDropListDropped)="drop('initialScreening',$event);testing($event.container.data[0].dasId,'initialScreening')">
        <div class="example-box d-flex" *ngFor="let item of initialScreening" cdkDrag (click)="buttonText(item)">
          <span>{{item.candidateName}}</span>
        </div>
      </div>
    </div>

    <div class="example-container">
      <h2 class="card-heading">OnHold</h2>

      <div (click)="dragItem()" cdkDropList [cdkDropListData]="onHold" class="example-list"
        (cdkDropListDropped)="drop('onHold',$event);testing($event.container.data[0].dasId,'onHold')">
        <div class="example-box" *ngFor="let item of onHold" cdkDrag (click)="buttonText(item)">{{item.candidateName}}
        </div>
      </div>
    </div>

    <div class="example-container">
      <h2 class="card-heading">InProgress</h2>

      <div cdkDropList [cdkDropListData]="inProgress" class="example-list"
        (cdkDropListDropped)="drop('inProgress',$event);testing($event.container.data[0].dasId,'inProgress')">
        <div class="example-box" *ngFor="let item of inProgress" cdkDrag (click)="buttonText(item)">
          {{item.candidateName}}</div>
      </div>
    </div>
    <div class="example-container">
      <h2 class="card-heading">Manager Discussion</h2>

      <div cdkDropList [cdkDropListData]="managerDiscussion" class="example-list"
        (cdkDropListDropped)="drop('managerDiscussion',$event);testing($event.container.data[0].dasId,'managerDiscussion')">
        <div class="example-box" *ngFor="let item of managerDiscussion" cdkDrag (click)="buttonText(item)">
          {{item.candidateName}}</div>
      </div>
    </div>

    <div class="example-container">
      <h2 class="card-heading">Selected</h2>

      <div cdkDropList [cdkDropListData]="selected" class="example-list"
        (cdkDropListDropped)="drop('selected',$event);testing($event.container.data[0].dasId,'selected')">
        <div class="example-box" *ngFor="let item of selected" cdkDrag (click)="buttonText(item)">{{item.candidateName}}
        </div>
      </div>
    </div>
    <div class="example-container">
      <h2 class="card-heading">Rejected</h2>

      <div cdkDropList [cdkDropListData]="rejected" class="example-list"
        (cdkDropListDropped)="drop('rejected',$event);testing($event.container.data[0].dasId,'rejected')">
        <div class="example-box" *ngFor="let item of rejected" cdkDrag (click)="buttonText(item)">{{item.candidateName}}
        </div>
      </div>
    </div>


    <div class="example-container">
      <h2 class="card-heading">Comments</h2>
      <div>
        <input type="text" [(ngModel)]="commentText">
        <button type="text" (click)="commentField()">Add Comment</button>
        <!-- <button (click)="commentButton()">Add comment</button> -->
        <h3 class="comment-point"> Comments:</h3>
        <ul class="comment-point">
          <li *ngFor="let i of msgComment">{{i.userComment}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>



<div class="model" [ngStyle]="{'display': toggle ? 'flex' : 'none'}" (click)="closeoverLay()">
  <div class="overlay">
    <div class="heading-container">
      <h3>WGS{{popupState.dasId}}</h3>
      <div>DueDate- <span>{{popupState.dueDate}}</span>
      </div>
    </div>
    <div>
      <h2>{{popupState.candidateName}}</h2>
    </div>
    <div class='bottom-container'>
      <div>Location - <span>{{popupState.location}}</span></div>
      <div>Expected LWD - <span>{{popupState.expectedLWD}}</span></div>
      <div>
        <div class="tech-box">{{popupState.technology}}</div>
      </div>
    </div>
  </div>
</div>




<!-- Copyright 2020 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->