<!-- 
  <div>
   <img src="./assets/loginpagebg.jpg">
  </div> -->

<form [formGroup]="loginObject">
   <div class="rectanglewithinbackground">
      <h1 class="text-center heading fsize">Welcome To WGS Hiring Portal</h1>
      <div class="form-container">
         <div>
            <h1 class="text-center heading">LOGIN</h1>
            <div class="">
               <label class="username my-2 ">Managername : </label>
               <input type="text" placeholder="Enter Managername" class="rectangleno1" name="managerName"
                  id="managerName" formControlName="managerName">
            </div>
            <div class="mb-2">
               <label class="password my-2">Password : </label>
               <input type="password" placeholder="Enter Password" class="rectangleno2" name="password" id="password"
                  formControlName="password">
            </div>
            <div class="d-flex btn-container align-items-center">
               <button class="login" (click)="onRegisterClick()">Login</button>
            </div>
         </div>
      </div>
   </div>
</form>